html{
    height: 150vh;
}


img{
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    display: block;
}

.card-equipo{
    width: 100%;
    max-width: 1000px;
}

.card-body{
    min-height: 100px;
}
