:root {
  /* Colores principales */
  --azul-profundo: #2e2b5b;
  --amarillo: #FDC50A;
  --rosa: #DD0069;
  --turquesa: #32B9C8;

  /* Colores pastel */
  --azul-pastel: #6C6787;
  --amarillo-pastel: #FFE080;
  --rosa-pastel: #ED6B72;
  --turquesa-pastel: #7DC5AE;
}


footer {
  background-color: var(--azul-profundo); /* matches bg-light */
  color: white; /* matches text-dark */
  font-family: Arial, sans-serif;
  bottom: 0;
  left: 0;
  position: fixed;
}
footer div {
  background-color: var(--azul-profundo); /* matches bg-light */
  color: white; /*matches text-dark*/
  font-family: Arial, sans-serif;
}

/* footer p {
  margin: 4px 0;
} */

footer .row {
  padding-left: 15px;
  padding-right: 15px;
}

footer img {
  max-height: 60px;
  float: left;
}

#mt-2{
    float: left;
}
footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}


footer .border-top {
  border-top: 1px solid var(--azul-profundo) !important;
}

footer i {
  margin-right: 6px;
  color: white;
}

/* footer .border-top {
  border-color: #dee2e6 !important;
  font-size: 0.9rem;
} */

@media (max-width: 768px) {
  footer .text-start,
  footer .text-center,
  footer .text-end {
    text-align: left !important;
    align-items: center;
  }
  footer .border-top {
  display:block
    }
footer .border-top .row {
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}
}
