:root {
  /* Colores principales */
  --azul-profundo: #2e2b5b;
  --amarillo: #FDC50A;
  --rosa: #DD0069;
  --turquesa: #32B9C8;

  /* Colores pastel */
  --azul-pastel: #6C6787;
  --amarillo-pastel: #FFE080;
  --rosa-pastel: #ED6B72;
  --turquesa-pastel: #7DC5AE;
}

html {
  font-size: 12px;
}



body {
  background-color: white;
  color: var(--azul-profundo);
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  padding: 0;
  padding-top: 100px;
  
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  text-align: center;
  font-size: 4rem;
  padding-top: 100px;
  margin-top: 15px;
}


/* campos de formulario */
form {
  margin: 2rem auto;
  max-width: 800px;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: 400;
  margin-bottom: 0.5rem;
  display: block;
  color: var(--azul-profundo);
}

input,
textarea,
select {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem !important;
  margin-bottom: 1.5rem;
  border: 1px solid #2e2b5b;
  border-radius: 0.5rem;
  font-family: 'Rubik', sans-serif;
  transition: background-color 0.3s ease, border 0.3s ease;
}

/* Color al enfocar campo */
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border: 2px solid var(--azul-pastel);
  box-shadow: 0 0 5px var(--azul-pastel);
}


/* Botones */
button.btn {
  background-color: var(--amarillo-pastel);
  color: white;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  }

button.btn:hover,
button.btn:focus,
button.btn:active {
  background-color: var(--amarillo);
  color: #fff;
}

#upload_widget{
    background-color: grey;
  color: white;
  border: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  transition: all 0.3s ease;
  display: block;
  margin-top: 10px;
  margin-left: 40px;
}


/* Textos */

input, textarea{
    border: 1px solid #32B9C8 !important;
    color: #2e2b5b !important;
    

  }
input:focus {
    border: 2px solid #32B9C8 !important;
    box-shadow: 0 0 6px 3px #4ce2f38e !important;
    color: #2e2b5b !important;
    background-color: #fff !important;
  }
  textarea:focus {
    border: 2px solid #32B9C8 !important;
    box-shadow: 0 0 6px 3px #4ce2f38e !important;
    color: #2e2b5b !important;
    background-color: #fff;
  }

#Textarea1 {
  padding-bottom: 2rem; /* contador m */
}

#contadorCaracteres {
  font-size: 1.25rem;
  color:#6C6787 !important;
  pointer-events: none;
  z-index: 10;
}

@media (max-width: 576px) {
  #contadorCaracteres {
    font-size: 0.65rem;       /*pantallas chicas??? */
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;
  }

  #Textarea1 {
    padding-bottom: 2.5rem;   /*móvil */
  }
}

/* Responsividad móvil */
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  

  h1 {
    font-size: 4.5rem;
  }


  form {
    padding: 1rem;
  }

  button.btn {
    width: 100%;
    font-size: 1.6rem;
    margin-top: 10px;
  }


  input, textarea, select {
    font-size: 1.4rem;
  }

  img{
    height: 250px;
    margin: auto;
    display: flex;
  }
  
  #upload_widget{
  width: 180px;
  height: 40px;
  margin: 15px auto;
  }
}