:root {
  /* Colores principales */
  --azul-profundo: rgb(46, 43, 91);
  --amarillo: #FDC50A;
  --rosa: #DD0069;
  --turquesa: #32B9C8;

  /* Colores pastel */
  --azul-pastel: #6C6787;
  --amarillo-pastel: #FFE080;
  --rosa-pastel: #ED6B72;
  --turquesa-pastel: #7DC5AE;
}
html {
  font-size: 10px;
}
body{
  color: var(--azul-profundo);
  font-family: 'Rubik', sans-serif;
}
h1{
  font-size: 4rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;

}
h2{
  font-size: 3rem;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

#container1 {
  background-color: rgb(150, 49, 170);
  height: 50px;
}

#carouselExampleSlidesOnly {
  border: 2px solid rgb(199, 61, 253);
  background: rgb(165, 164, 164);
}

img.best-seller {
  max-width: 650px;
  height: 550px;
  display: flex;
  margin: 0 auto 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.best-seller {
  width: 400px;
  height: 500px;
  object-fit: cover;

}

div.image-container button {
  position: absolute;
  background-color: #FDC50A;
  border-radius: 30px;
  height: 40px;
  width: 150px;
  border: 1px none black;
  margin-top: 430px;
  box-shadow: 2px 2px 3px;
  font-size: 2rem;
  font-weight: 200;

}

div.image-container button:hover {
  transform: translateY(-2px);
  box-shadow: 15px 12px 25px rgb(46, 43, 91);
}

#carouselExampleAutoplaying {
  border: 2px solid rgb(199, 61, 253);
  background: rgb(165, 164, 164);
}

.imagenes-carrusel {
  max-width: 600px;
  /* Nota revisar si funciona con las imagenes finales*/
  height: 600px;
  display: flexbox;
  margin: 0 auto 0 auto;
  object-fit: cover;
}

img.marquee {
  width: 350px;
  margin: 0 10px;
}

div.container-marquee {
  margin: 30px 2vw;
}

a.contactanos {
  text-align: center;
  font-size: 2rem;
  color: #DD0069;
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (max-width: 576px) {
  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: 2rem
  }
  a.contactanos{
    font-size: 1rem;
  }
  .image-container img {
    width: 100%;
    height: 500px;
  }
  .imagenes-carrusel {
  width: 100%;
  height: 500px;
}
}