/**>=========================| importacion de fuentes |==========================<  */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* weight: Usar valores de 200 a 900 */
/* font-family: "Crimson Pro", serif; */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* weight: Use a value from 300 to 900 */
/* font-family: "Rubik", sans-serif; */

/**>=========================| Variables |==========================<  */
:root {
    /*+----------------- Colores principales */
    --azul-profundo: #2E2B5B; /* color base */
    --amarillo: #FDC50A; /* call to action */
    --rosa: #DD0069; /* enfasis */
    --turquesa: #32B9C8; /* bordes formularios */
    /*+----------------- Colores Oscuros */
    --azul-oscuro: #201a3e;
    --amarillo-oscuro: #f3931a; 
    --rosa-oscuro: #841d68; 
    --turquesa-oscuro: #008fb8; 
    /*+----------------- Colores desvanecidos */
    --gris-pastel: #dddde4;  /*background*/
    --azul-pastel: #6C6787; /* textos */
    --amarillo-pastel: #FFE080; /* desactivado */
    --rosa-pastel: #ED6B72;
    --turquesa-pastel: #7DC5AE;

    /*+---------------- Tamaños de tipografia */
    /* fs(font-size) */
    --fs-xs-14:  0.875rem;   /* 14px */
    --fs-s-16:   1.125rem;   /* 18px */
    --fs-base-20: 1.25rem;   /* 20px */
    --fs-l-24:     1.5rem;   /* 24px */
    --fs-xl-32:      2rem;   /* 32px */
    --fs-xxl-36:  2.25rem;   /* 36px */
    --fs-xxxl-40:  2.5rem;   /* 40px */
    --fs-h1-48:      3rem;   /* 48px */

    /*+----------------------------- Fuentes */
    --tipografia-principal: "Crimson Pro", serif; /* Títulos */
    --tipografia-secundaria: "Rubik", sans-serif; /* Cuerpo de texto */

    /*+----------------------------- Estilos */
    --sombra-boton-amarilla: 0px 3px 20px #FDC50A80;
    --sombra-boton-rosa: 0px 3px 20px #DD006980;
}

/** =========================| Reset del documento |======== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
}
/* Reglas base de cada página */
body {
    background-color: var(--gris-pastel);
    color: var(--azul-pastel);
    font-family:var(--tipografia-secundaria);
    font-weight: 400;
    font-size: var(--fs-base-20);
    padding-top: 120px;
}

/** ==========================| Definicion de titulos*/
h1, h2, h3, h4, h5, h6 {color: var(--azul-profundo);}
h1 {font-family: var(--tipografia-principal); font-weight: 700; font-size: var(--fs-h1-48);text-align: center;}
h2, h3, h4, h5, h6 {font-family: var(--tipografia-secundaria); font-weight: 600;}
h2 {font-size: var(--fs-xxl-36);}
h3 {font-size: var(--fs-xl-32);}
h4 {font-size: var(--fs-l-24);}
h5 {font-size: var(--fs-base-20);}
h6 {font-size: var(--fs-s-16);}

@media (max-width: 456px){
ul, p.texto {font-size: var(--fs-s-16);}
}

/**=====================================| Botones */
/* Estilos basicos, no incluyen el tamaño solo el color y la reaccion */
.boton{
    font-size: var(--fs-l-24);
    font-family: var(--tipografia-secundaria);
    font-weight: 500;
    border-radius: 1000px;
    border: none;
    padding: .75rem 2rem;
}
.boton--principal{
    cursor: pointer;
    color: var(--azul-profundo);
    background-color: var(--amarillo);
    box-shadow: var(--sombra-boton-amarilla)
}
.boton--principal:hover{
    background-color: var(--amarillo-oscuro);
}
.boton--principal:active{
    background-color: var(--rosa);
    box-shadow: var(--sombra-boton-rosa);
    transform: translateY(2px);
}
.boton-desactivado{
    color: var(--azul-pastel);
    background-color: var(--amarillo-pastel);
    cursor: not-allowed;
}
/**=====================================| Estilos de formularios */
label{
    font-weight: 600;
    font-size: var(--fs-base-20);
    color: var(--azul-profundo);
}
input{
    font-size: var(--fs-base-20); 
    height: 37px; 
    text-align: start;
    border-radius: 1000px;
    color: var(--azul-profundo);
    background-color: white;
    border: 1.5px solid var(--gris-pastel);
}
input::placeholder{
    color: var(--azul-pastel);
}
input:focus{
    border: 1.5px solid var(--turquesa);
    outline: none;
}

/**=====================================| Navbar */
nav.fixed-top{
    background-color: var(--gris-pastel);
    padding-top:2.5rem;
    padding-bottom: 1.25rem;
    padding-inline: clamp(15px, 5vw, 50px);
}

.nav__iconos img{height: clamp(30px, 2vw, 40px)}

nav img.logo{ height: clamp(40px, 8vw, 50px);
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.3));
}

@media( min-width: 992px){
/* Esto saca y alinea este mini menu al centro de pantalla y no de su contenedor */
    .navbar-nav{
        position: absolute;
        left: 50%;
        top: 2rem;
        transform: translateX(-50%);
        padding: 0;
    }
}
/*------------------| Esto es del menu movil |*/
div.offcanvas a{ align-self: center; }
div.offcanvas-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items:flex-end;
}
div.desplegable-movil {background-color: var(--gris-pastel);}
div.desplegable-movil ul{
    margin-inline: auto;
    text-align: center;
}
/* Tanto en movil como pc el color y tamaño del menu son el mismo por que son el mismo elemento*/
div.desplegable-movil a{
    color: var(--azul-profundo);
    font-family: var(--tipografia-principal);
    font-size: var(--fs-l-24);
    font-weight: 700;
    }
.desplegable-movil a:hover {color: var(--azul-pastel);}
.desplegable-movil a:active { color: var(--rosa);}
.navbar-toggler:hover{
    background-color: var(--azul-pastel);
}
/**===============================| Footer |==*/
footer{
    background-color: var(--azul-profundo);
    border-radius: 48px 48px 0 0;
    box-shadow: 0px -1px 5px rgba(0,0,0,0.2)
}
footer h6, footer p, footer label{
    font-size: var(--fs-s-16);
    color: white;
}
footer img.logo{
    height: clamp(50px, 10vw, 75px);
    filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.3));
}
/* controla la separacion entre rows del container */
footer .row{
    margin-bottom: 28px;
    row-gap: 20px;} /* controla la separacion de elementos en fila dentro de un row */

.seccion-1{
    display: flex;
    flex-wrap: wrap;
    align-items:baseline;
    gap: 5px 20px;
    font-size: var(--fs-base-20);
    font-family: var(--tipografia-principal);
}
/* seccion de iconos */
div.seccion-2{gap: 28px;}
div.seccion-2 img{width: 38px;}
/* seccion de info de contacto*/
.seccion-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.seccion-3 p, .seccion-3 h6{
    text-align: start;
}
/*esta parte es del formulario de suscrpcion */
form.seccion-4{
    border: 1px solid var(--amarillo);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-block: 15px;
    font-weight: 600;
    row-gap: 8px;
}
.seccion-4 input{
    color: var(--amarillo-oscuro);
    font-size: var(--fs-s-16); 
    height: 37px; 
    text-align: center;
}
.seccion-4 input:focus{
    border: none;
    box-shadow: var(--sombra-boton-amarilla)

}
.seccion-4 button{
    font-size: var(--fs-s-16);
    padding-block: 5px;
    box-shadow: none;
}
.seccion-5 p, .seccion-6 p{
    font-size: var(--fs-xs-14);
}
.seccion-6 .discreto{
    color: var(--azul-oscuro);
}
/**==============================| About us |=*/
ul.mision, p.texto {
    text-align: justify;
}
/**=========================================| registro  */
/* campos de formulario */
form.form-login {
    margin: 2rem auto;
    max-width: 50vw;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255,0.5);
}

form.form-login .fila {
    display: flex;
    justify-content: space-between;
    /* espacio entre los campos */
    gap: 20px;
    /* separación entre nombre y apellidos */
}

form.form-login .campo {
    flex: 1;
    /* para que ambos se expandan igual */
}

/* Responsividad móvil */
@media (max-width: 768px) {
    form.form-login {
        padding: 1rem;
    }

    button.responsivo {
        width: 100%;
        font-size: 1.6rem;
        margin-top: 10px;
        margin-right: 10px;
        max-width: 200px;
        padding: 1rem 2rem;
    }

    form.form-login .fila {
        display: block;
    }
}