:root {
  /* Colores principales */
  --azul-profundo: rgb(46, 43, 91);
  --amarillo: #FDC50A;
  --rosa: #DD0069;
  --turquesa: #32B9C8;

  /* Colores pastel */
  --azul-pastel: #6C6787;
  --amarillo-pastel: #FFE080;
  --rosa-pastel: #ED6B72;
  --turquesa-pastel: #7DC5AE;
}
html {
  font-size: 12px;
}
/*Fondo cuerpo página*/
body {
  background-color: white;
  color: var(--azul-profundo);
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

/*Título*/
/* Título centrado */
h1 {
  color: var(--azul-profundo);
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 6rem;
  text-align: center;
}

h2{
  font-weight: 700;
  padding-top: 30px;
  font-size: 2.5rem;
}
h5{
  padding-bottom: 10px;
  text-align: center;
}

ul {
  text-align: justify;
}


/* Subrayado de palabra en h1 y h2 */
.subrayado {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.subrayado::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.4s ease;
}

.subrayado:hover::after,
.subrayado:focus::after {
  width: 100%;
}



/*Estilo cards*/
.card-title {
  font-size: 2.3rem;
}

p.card-text{
  font-size: 1.5rem;
  padding-inline: 10px;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  overflow-y:auto;
  
}
.card-equipo {
  background-color: white;
  border-radius: 1rem;
  transition: all 0.3s ease;
  text-align: left;
  overflow: hidden;
  }

.card-img-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/*opción cambio color fondo cards 2*/
.card-equipo:hover {
  background-color: var(--azul-profundo);
  color: white;
  text-align: left;
}
.card-equipo:hover .card-title,
.card-equipo:hover .card-text {
  color: white;
}

    .card-equipo {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-equipo:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgb(46, 43, 91);
}

.card-img-top{
  width: 100%;
  height: 500px;
}

@media (max-width: 576px){
  .card-img-top{
  width: 100%;
  height: 500px;
}
}

p{
  text-align: justify;
}
.miBoton{
  background-color: var(--amarillo); 
  color: var(--azul-profundo);              
  border: none;
  width: 120px;
  height: 40px;
  font-size: 1.5rem;
}

.miBoton:hover {
  background-color: var(--rosa); 
  color: #ffffff;
  width: 120px;
  height: 40px;
  font-size: 1.5rem;
}
/* Cambios para la version movil */
@media (max-width: 768px) {
  body {
    font-size: 1.5rem;
    padding-inline:10px;
  }
  h2 {
    font-weight: 700;
  }
  .card-title {
    font-size: 2rem;
  }
  p.card-text{
    font-size: 1.3rem;
  }
  .miBoton{
  background-color: var(--amarillo); 
  color: var(--azul-profundo);              
  border: none;
  width: 250px;
  height: 40px;
  font-size: 1.5rem;
}

.miBoton:hover {
  background-color: var(--rosa); 
  color: #ffffff;
  width: 250px;
  height: 40px;
  font-size: 1.5rem;
}

}
/* Loader (creo ni se ve, quizá cuando la página sea más pesada) */

/*#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--azul-profundo);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}