h1 {
    padding-top: 100px;
    margin-top: 20px;
}

.tienda.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    box-sizing: border-box;
}

#list-items{
    margin: 30px;
    gap: 20px;
}
.card {
    background: #FFE080;
    width: 100%;
    max-width: 350px;
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 15px;
}

.card-body {
    text-align: center;
}

h5 {
    font-family: "Rubik", sans-serif;
    font-size: 21px;
}

.card-text{
    font-size: 13px;
}

.card-text1{
    font-size: 17px;
}

.btn-primary {
    background-color: #809FFF;
    border: #809FFF;
    color: black;
    margin-top: auto;
}